Django==2.2.12
pytz==2018.7
xlrd==1.1.0
Pillow==5.3.0
django-summernote==0.8.11.1
pyopenssl
django-bootstrap4
docx-mailmerge
docxtpl
pymorphy2
petrovich
django_cleanup
django_datatables_view


# django-inlineedit
django-inlineedit==1.2
markdown==2.6.11
feedparser==5.2.1
django-reversion==3.0.4
django-ckeditor==5.9.0
django-extensions
pyreadline
pylint
ipython
######

# tests
pytest
selenium
#####