{% extends 'base_template.html' %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'employeesapp:list_employees' %}">Реестр сотрудников</a></li>
  <li class="breadcrumb-item active" aria-current="page">Новый сотрудник</li>
{%endblock%}

{%block header%}
Добавление нового сотрудника
{%endblock%}


{%block body%}
    <div class="col-sm">
      <form class = "col-md-6" role="form" action="" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
        <input type="text" name="{{ form.username.html_name }}" placeholder="Логин *U0--" class="form-username form-control" id="{{ form.username.html_name }}">
        <p></p>
        {% if form.username.errors %}
        <p>{{ form.username.errors }}</p>
        {% endif %}
        <input type="text" name="{{ form.email.html_name }}" placeholder="Email..." class="form-username form-control" id="{{ form.email.html_name }}">
        <p></p>
        {% if form.email.errors %}
        <p>{{ form.email.errors }}</p>
        {% endif %}
        <input type="password" name="{{ form.password1.html_name }}" placeholder="Пароль..." class="form-password form-control" id="{{ form.password1.html_name }}">
        <p></p>
        {% if form.password1.errors %}
        <p>{{ form.password1.errors }}</p>
        {% endif %}
        <input type="password" name="{{ form.password2.html_name }}" placeholder="Повторите пароль..." class="form-password form-control" id="{{ form.password2.html_name }}">
        <p></p>
        {% if form.password2.errors %}
        <p>{{ form.password2.errors }}</p>
        {% endif %}
        {% for field in employee_form%}
        <p>{{field}}</p>
        {% endfor%}
      <button type="submit" class="btn">Зарегистрировать</button>
      </form>
    </div>
{%endblock body%}
