{% extends 'base_template.html' %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="">Сотрудники</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
<h2 style="margin-left: 20px;">{{ pagename }}</h2>
{%endblock%}

{%block body%}
<div class = "container">
  <div class="col-12">
      <table id="example" class="table table-hover" style="width:100;">
              <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">ФИО</th>
                    <th class="text-center">Дата рождения</th>
                </tr>
            </thead>
            <tbody>
                  {% for employee in employeelist %}

                  <tr>
                    {% if employee.img %}
                   <td><img class="rounded-circle" src="{{ employee.img.url }}" width="50" height="50"></td>
                   {%else%}
                   <td><img class="rounded-circle" src="https://image.flaticon.com/icons/png/512/149/149071.png" width="50" height="50"></td>
                   {% endif %}
                    <td class="text-center"><a href="{{ employee.pk }}">{{ employee.fio }}</a></td>
                      <td class="text-center">{{ employee.birthdate |date:"d E"}}</td>
                  </tr>

                  {% endfor %}

              </tbody>
          </table>
      </div>
  </div>
{%endblock body%}
