{% extends 'base_template.html' %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'employeesapp:list_employees' %}">Сотрудники</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
<h2 style="margin-left: 20px;">{{ pagename }}</h2>
{%endblock%}

{%block body%}
  <div class = "row justify-content-center">
    <div class="col-7">
      <table id="example" class="table table-hover" style="width:100;">
              <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">ФИО</th>
                    <th class="text-center">Дата рождения</th>
                </tr>
            </thead>
            <tbody>
                  {% for employee in employeelist %}

                  <tr>
                    <td class="text-center"><img alt="logo" src="https://image.flaticon.com/icons/png/512/149/149071.png" width="50" height="50" ></td>
                    <td class="text-center"><a href="{{ certificate.pk }}">{{ employee.fio }}</a></td>
                      <td class="text-center">{{ employee.birthdate |date:"d E"}}</td>
                  </tr>

                  {% endfor %}

              </tbody>
          </table>
      </div>
  </div>
{%endblock body%}
