{% extends 'base_template.html' %}
{% load static %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'employeesapp:list_employees' %}">Реестр сотрудников</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block body%}
<div class="container">
    <div class="row m-y-2">
        <div class="col-lg-8 push-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Профиль</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Техника сотрудника</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Изменить</a>
                </li>
            </ul>
            <div class="tab-content p-b-3">
                <div class="tab-pane active" id="profile">
                    <br>
                    <h4 class="m-y-2">{{ employee.fio }}</h4>
                    <div class="row">
                        <div class="col-md-10">
                    <p><strong>Должность: </strong> {{ employee.post }} </p>
                    <p><strong>Дата рождения: </strong> {{ employee.birthdate | date:"d E"}} </p>
                    <p><strong>Телефонный номер: </strong> {{ employee.telephonenum }} </p>
                    <p><strong>Номер кабинета: </strong> {{ employee.location }} </p>
                    <p><strong>Управление: </strong> {{ employee.department }} </p>
                    <p><strong>Отдел: </strong> {{ employee.subdevision }} </p>
                        </div>
                        <div class="col-md-6">
                        </div>

                        <div class="col-md-12">
                            <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Recent Activity</h4>
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                <table class="table table-hover" style="width:100;">
                    <thead>
                        <tr>
                            <th>-</th>
                            <th class="text-center">Имя</th>
                            <th class="text-center">Тип</th>
                            <th class="text-center">Инвентарный</th>
                            <th class="text-center">Инвентарный2</th>
                            <th class="text-center">Серийный</th>
                        </tr>
                    </thead>
                    <tbody>
                          {% for usertechnic in usertechniclist %}

                          <tr>
                            <td>{{ forloop.counter }}</td>
                              {% if usertechnic.technictype == 'SERVER'%}
                           <td class="text-center"><a href="{% url 'serversapp:edit_server' usertechnic.pk %}">{{ usertechnic.server.name }}</a></td>
                               {% elif usertechnic.technictype == 'TOKEN'%}
                           <td class="text-center"><a href="{% url 'tokensapp:edit_token' usertechnic.pk %}">{{ usertechnic.token.name }}</a></td>
                              {% elif usertechnic.technictype == 'CMT'%}
                           <td class="text-center"><a href="{% url 'cmtapp:edit_cmt' usertechnic.pk %}">{{ usertechnic.cmt.name }}</a></td>
                               {% elif usertechnic.technictype == 'WORKSTATION'%}
                           <td class="text-center"><a href="{% url 'workstationsapp:edit_workstation' usertechnic.pk %}">{{ usertechnic.workstation.name }}</a></td>
                              {% else %}
                           <td class="text-center">{{ usertechnic.token.name }}</td>
                              {% endif%}
                            <td class="text-center">{{ usertechnic.get_technictype_display }}</td>
                            <td class="text-center">{{ usertechnic.inventorynum1 }}</td>
                            <td class="text-center">{{ usertechnic.inventorynum2 }}</td>
                            <td class="text-center">{{ usertechnic.serialnum }}</td>
                          </tr>

                          {% endfor %}

                    </tbody>
                </table>
                </div>
                <div class="tab-pane" id="edit">
    <div class="col-md-8">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <p></p>
          <button type="submit" class="btn btn-default" name="button">Изменить</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Удалить<span class="glyphicon glyphicon-comment"></span></button>
        </form>
      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pull-lg-8 text-xs-center">
            <img src="//placehold.it/150" class="m-x-auto img-fluid img-circle" alt="avatar">
            <h6 class="m-t-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>


    </div>
</div>
<hr>
{%endblock body%}
