{% extends 'base_template.html' %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'employeesapp:list_employees' %}">Реестр сотрудников</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block header_end%}
      <a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'employeesapp:add_post' %}"><b>+</b></a>
{%endblock%}

{%block body%}
<div class="container">
  <div class = "col-md-12">
      <table id="example" class="table table-hover" style="width:100;">
              <thead>
                  <tr>
                      <th>-</th>
                      <th class="text-center">Название</th>
                  </tr>
              </thead>
              <tbody>
                    {% for post in postslist %}

                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><a href="edit/{{ post.pk }}">{{ post.postname }}</a></td>
                    </tr>

                    {% endfor %}

              </tbody>
          </table>
  </div>
  </div>

{%endblock body%}
