{% extends 'base_template.html' %}
{%block navimenu%}
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block header_end%}
      <a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'employeesapp:add_employee' %}"><b>+</b></a>
{%endblock%}

{%block body%}
<div class="container">
  <div class = "col-md-12">
      <table id="example" class="table table-hover" style="width:100;">
              <thead>
                  <tr>
                      <th>-</th>
                      <th class="text-center"></th>
                      <th class="text-center">ФИО</th>
                      <th class="text-center">Логин</th>
                      <th class="text-center">Дата рождения</th>
                      <th class="text-center">Телефонный номер</th>
                      <th class="text-center">Номер кабинета</th>
                      <th class="text-center">Управление</th>
                      <th class="text-center">Отдел</th>
                      <th class="text-center">Должность</th>
                  </tr>
              </thead>
              <tbody>
                    {% for employee in employeelist %}

                    <tr>
                      <td>{{ forloop.counter }}</td>
                      {% if employee.img %}
                     <td><img class="rounded-circle" src="{{ employee.img.url }}" width="60" height="60"></td>
                     {%else%}
                     <td><img class="rounded-circle" src="https://image.flaticon.com/icons/png/512/149/149071.png" width="60" height="60"></td>
                     {% endif %}
                      <td><a href="edit/{{ employee.pk }}">{{ employee.fio }}</a></td>
                      <td class="text-center">{{ employee.user }}</td>
                      <td class="text-center">{{ employee.birthdate }}</td>
                      <td class="text-center">{{ employee.telephonenum }}</td>
                      <td class="text-center">{{ employee.location }}</td>
                      <td class="text-center">{{ employee.department }}</td>
                      <td class="text-center">{{ employee.subdevision }}</td>
                      <td class="text-center">{{ employee.post }}</td>
                    </tr>

                    {% endfor %}

              </tbody>
          </table>
  </div>
  </div>

{%endblock body%}
