{% extends 'base_template.html' %}
{% load static %}
{%block navimenu%}
  <li class="breadcrumb-item"><a href="{% url 'mainapp:main' %}">Главная</a></li>
  <li class="breadcrumb-item"><a href="{% url 'workstationsapp:list_workstations' %}">Реестр рабочих станций</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pagename }} </li>
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block header_end%}

{% if perms.ticketsapp.can_add_tickets %}
      <a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'workstationsapp:add_workstation' %}"><b>+</b></a>
{% endif %}

{%endblock%}

{% block body %}
<div class="container">
  <div class = "col-md-12">
      <table id="example" class="table table-hover" style="width:100;">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Модель</th>
            <th>ip-адрес</th>
            <th>серийный</th>
            <th>инвентарный</th>
        </tr>
    </thead>
    <tbody>
    {% for technic in workstations_list %}
        <tr>
            <td><a href="{% url 'workstationsapp:edit_workstation' pk=technic.pk %}">{{ technic.name }}</a></td>
            <td>{{ technic.model_name }}</td>
            <td>{{ technic.ip_address }}</td>
            <td>{{ technic.serialnum }}</td>
            <td>{{ technic.inventorynum1 }}</td>
        </tr>
    {% endfor %}
     </tbody>
    </table>
  </div>
</div>
{% endblock body %}

{%block scripts%}
{%endblock scripts%}
