{% extends 'base_template.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block body%}
<div class = "col-md-12">
    <table id="example" class="display" style="width:100;">

            <thead>
                <tr>
                    <th>-</th>
                    <th>ФИО (название организации)</th>
                    <th>Адрес</th>
                    <th>Регион</th>
                    <th>Город</th>
                    <th>Индекс</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                  {% for recepient in recepients_list %}
                <tr>
                    <td>{{ recepient.pk }}</td>
                    <td><a href="recepient/{{ recepient.pk }}/">{{ recepient.title }} </a></td>
                    <td>{{ recepient.address }}</td>
                    <td>{{ recepient.region }}</td>
                    <td>{{ recepient.city }}</td>
                    <td>{{ recepient.postcode }}</td>
                    <td>{{ recepient.pub_date }}</td>
                  </tr>


                  {% endfor %}
            </tbody>
        </table>
</div>
{%endblock%}

