{% extends 'base_template.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block body%}
<div class = "col-md-12">
    <table id="sentlist" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>Получатель</th>
                    <th>Дата время</th>
                    <th>Исполнитель</th>
                    <th>Формат</th>
                    <th>Исх. номер</th>
                    <th>РПО</th>
{#                    <th>Секр.</th>#}
                    <th>Тип реестра</th>
                    <th>Реестр</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
{% endblock body%}

{% block scripts %}
    <script>
        $(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        "scrollY":        "550px",
        "scrollCollapse": true,
        "paging":         true,
        "ordering":       false,
        "pagingType":     "numbers",
        "processing":     true,
        "serverSide":     true,
        "ajax": "{% url 'printenvelopsapp:sentlist_list_json' %}",

        language: {
          processing:     "Traitement en cours...",
          search:         "Поиск",
          lengthMenu:     "Показать _MENU_ элементов",
          info:           "Показано _START_ из _END_ из _TOTAL_ элементов",
          infoEmpty:      "Показано 0 из 0 из 0 элементов",
          infoFiltered:   "(Отфильтровано из _MAX_ позиций)",
          infoPostFix:    "",
          loadingRecords: "Chargement en cours...",
          zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          emptyTable:     "Нет данных",
          paginate: {
                first:      "Первый",
                previous:   "Предыдущий",
                next:       "Следующий",
                last:       "Последний"
            },},
                searching: true,
    });
    // ...
});
    </script>
{% endblock scripts %}