{% extends 'base_template.html' %}

{%block navimenu%}
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block header_end%}
      <a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'ticketsapp:add_problem' %}"><b>+</b></a>
{%endblock%}

{%block body%}
<div class="container">
  <div class = "col-md-12">
      <table id="example" class="table table-hover" style="width:100;">
              <thead>
                  <tr>
                      <th class="text-center">-</th>
                      <th class="text-center">Название</th>
                  </tr>
              </thead>
              <tbody>
                    {% for problem in mainproblemslist %}

                    <tr>
                      <td class="text-center">{{ forloop.counter }}</td>
                      <td class="text-center"><a href="edit/{{ problem.pk }}">{{ problem.mainproblemname }}</a></td>
                    </tr>

                    {% endfor %}

              </tbody>
          </table>
  </div>
  </div>

{%endblock body%}
