{% extends 'base_template.html' %}
{% load static %}

{%block head%}
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
{{ pagename }}
{%endblock%}

{%block header_end%}

{% if perms.ticketsapp.can_add_tickets %}
      <a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'ticketsapp:add_ticket' %}"><b>+</b></a>
{% endif %}

{%endblock%}

{%block body%}
<div class = "container col-8">
  <div class="col-12">
    <table id="example" class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center">Описание</th>
                    <th class="text-center">Подал заявку</th>
                    <th class="text-center">Приоритет</th>
                    <th class="text-center">Исполнитель</th>
                    <th class="text-center">Проблема</th>
                    <th class="text-center">Статус</th>
                    <th class="text-center">Заявка открыта</th>
                </tr>
            </thead>
            <tbody>
                  {% for ticket in ticketslist %}
                  <tr {% if ticket.status == 'OPEN' %}
                          class="table-light"
                      {% elif ticket.status == 'INWORK' %}
                          class="table-warning"
                      {% elif ticket.status == 'CLOSED' %}
                          class="table-success"
                      {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="edit/{{ ticket.pk }}">{{ ticket.description|truncatechars:150 }}</a></td>
                    <td class="text-center">{{ ticket.employee_start }}</td>
                    <td class="text-center">{{ ticket.get_priority_display }}</td>
                    <td class="text-center">{%if ticket.performer is None %}не назначен {%else%}{{ ticket.performer }}{%endif%}</td>
                    <td class="text-center">{{ ticket.subproblem }}</td>
                    <td class="text-center">{{ ticket.get_status_display }}</td>
                    <td class="text-center">{{ ticket.timestarted |date:"Y-m-d H-i" }}</td>
                  </tr>
                  {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{%endblock body%}

{%block scripts%}
{%endblock scripts%}
