{% load static %}
{% load mainapp_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PN</title>


  <link href={% static "base_css/dataTables.bootstrap4.min.css" %} rel="stylesheet">
  <link href={% static "base_css/bootstrap-4-navbar.css" %} rel="stylesheet">
  <link href={% static "base_css/bootstrap.css" %} rel="stylesheet">
  <link href={% static "base_css/customstyle.css" %} rel="stylesheet">
  <link href={% static "base_css/select2.min.css" %} rel="stylesheet">
  <link href={% static "base_css/select2-bootstrap4.min.css" %} rel="stylesheet">
  {%block head%}
  {%endblock%}

</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'newsapp:main' %}">
        <img alt="logo" src="{% static "base_imgs/logo.png" %}" width="35" height="35" >
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          {% if perms.serversapp.can_view_serverslist or perms.workstationsapp.can_view_workstationslist or perms.employeesapp.can_view_employeeslist or perms.cmtapp.can_view_cmtlist %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Реестры
          </a>
          {%endif%}
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if perms.serversapp.can_view_serverslist %}<a class="dropdown-item" href="{% url 'serversapp:list_servers' %}">Серверы</a>{% endif %}
            {% if perms.certificatesapp.can_view_certificates %}<a class="dropdown-item" href="{% url 'certificatesapp:certificates' %}">Сертификаты</a>{% endif %}
            {% if perms.tokensapp.can_view_tokens %}<a class="dropdown-item" href="{% url 'tokensapp:list_tokens' %}">Токены</a>{% endif %}
            {% if perms.workstationsapp.can_view_workstationslist %}<a class="dropdown-item" href="{% url 'workstationsapp:list_workstations' %}">Компьютеры</a>{% endif %}
            {% if perms.employeesapp.can_view_employeeslist %}<a class="dropdown-item" href="{% url 'employeesapp:list_employees' %}">Сотрудники</a>{% endif %}
            {% if perms.cmtapp.can_view_cmtlist %}<a class="dropdown-item" href="{% url 'cmtapp:list_cmts' %}">КМТ</a>{% endif %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Справочник
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'employeesapp:telephone_book' %}">Телефоны сотрудников</a>
            <a class="dropdown-item" href="{% url 'employeesapp:birthdays' %}">Дни рождения</a>
            <a class="dropdown-item" href="{% url 'holidaysapp:list_holidays' %}">Праздники России</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          {% if perms.ticketsapp.can_view_allticketslist or perms.ticketsapp.can_view_myticketslist or perms.ticketsapp.can_view_imperformer_ticketslist or perms.ticketsapp.can_add_tickets %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Заявки
              {% if perms.ticketsapp.can_view_imperformer_ticketslist %}<span class="badge badge-light">{% all_tickets_count user.id %}</span>{% endif %}
          </a>
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if perms.ticketsapp.can_view_allticketslist %}<a class="dropdown-item" href="{% url 'ticketsapp:list_tickets' %}">Все заявки</a>{% endif %}
                        {% if perms.certticketsapp.can_add_tickets %}<a class="dropdown-item" href="{% url 'certticketapp:list_cert_tickets' %}">Заявки на ЭП</a>{% endif %}
            {% if perms.ticketsapp.can_view_myticketslist %}<a class="dropdown-item" href="{% url 'ticketsapp:user_list_tickets' %}">Мои заявки</a>{% endif %}
            {% if perms.ticketsapp.can_view_imperformer_ticketslist %}<a class="dropdown-item" href="{% url 'ticketsapp:userperformer_list_tickets' %}">Назначенные мне <span class="badge badge-dark">{% open_tickets_count user.id %}</span> <span class="badge badge-warning">{% inwork_tickets_count user.id%}</span></a>{% endif %}
            {% if perms.ticketsapp.can_add_tickets %}<a class="dropdown-item" href="{% url 'certticketapp:add_cert_ticket' %}">Подать заявку на ЭП</a>{% endif %}
          </div>
        </li>
        {% for group in  request.user.groups.all %}
          {%  if group.name == 'adminpanel' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Администрирование
              </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item dropdown-toggle" href="#">Справочники</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdown-toggle" href="#">Подразделения</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Управления</a></li>
                    <li><a class="dropdown-item" href="#">Отделы</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item dropdown-toggle" href="#">Заявки</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'ticketsapp:list_problems' %}">Типовые проблемы</a></li>
                    <li><a class="dropdown-item" href="{% url 'ticketsapp:list_subproblems' %}">Проблемы</a></li>
                  </ul>
                </li>
                <li><a class="dropdown-item" href="{% url 'employeesapp:list_posts' %}">Должности</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="{% url 'adminapp:access_rights' %}">Права доступа</a></li>
            <li><a class="dropdown-item" href="{% url 'adminapp:settings' %}">Настройки</a></li>
          </ul>
        </li>
        {% endif %}
        {% endfor %}

      {% for group in  request.user.groups.all %}
          {%  if group.name == 'envelops_admins' or group.name == 'envelops_users'%}
             <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Печать конвертов
              </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'printenvelopsapp:recepients' %}">Адресаты</a></li>
              <li><a class="dropdown-item" href="{% url 'printenvelopsapp:registry_list' %}">Реестры</a></li>
{#              <li><a class="dropdown-item dropdown-toggle" href="#">Отчеты</a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="{% url 'printenvelopsapp:sent_envelops' %}">Отправленные</a></li>#}
{#              </ul>#}
{#              </li>#}
              <li><a class="dropdown-item" href="{% url 'printenvelopsapp:sent_envelops' %}">Отправленные</a></li>
          </ul>
        </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    {%block navibar%}
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.employee.img %}
         <td><img class="rounded-circle" src="{{ user.employee.img.url }}" width="30" height="30" ></td>
         {%else%}
         <td><img class="rounded-circle" src="{% static "base_imgs/avatar.png" %}" width="30" height="30"></td>
         {% endif %}
            {{ user.username }}<span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a class="dropdown-item" href="{% url 'authapp:settings' %}">Настройки</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="{% url 'authapp:logout' %}">Выйти</a></li>
        </ul>
      </li>
    </ul>
    {% else %}
    <div class="">
      <a <button href="{% url 'authapp:login' %}" type="button" class="btn btn-outline-success">Войти</a>
      <a <button href="{% url 'authapp:registration' %}" type="button" class="btn btn-outline-success">Регистрация</a>
    </div>
    {% endif %}
    {%endblock navibar%}
  </nav>



    <div class="container col-8">
          <div class="row justify-content-between yuangnavbar">
            <div class="col-md-2">
              <h2 class="text-center"></h2>
            </div>
            <div class="col-md-6">
              <h2 class="text-center">{%block header%}{%endblock%}</h2>
            </div>
            <div class="col-md-1 align-self-center">
            </div>
            <div class="col-md-0.5 align-self-center">
              {%block header_end%} {%endblock%}
            </div>
          </div>
      </div>
      <div class="container col-8 yuangnavbar_2">
      </div>

      <div class="container col-8">
        <div class="row justify-content-center"
    {%block body%}
    {%endblock%}
        </div>
      </div>


  <script type="text/javascript" language="javascript" src={% static "base_js/jquery.min.js" %}></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/bootstrap.min.js" %}></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/bootstrap-4-navbar.js" %}></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/jquery-3.3.1.js" %}></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/jquery.dataTables.min.js"%} ></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/dataTables.bootstrap4.min.js"%} ></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/dataTables.settings.js"%}></script>
  <script type="text/javascript" language="javascript" src={% static "base_js/select2.min.js"%}></script>


  {%block scripts%}
  {%endblock%}

</body>
</html>
